<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>TP Finder</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <link rel="stylesheet" href="../public/css/style.css">
  <link href="https://fonts.googleapis.com/css2?family=Rancho&family=Thasadith:wght@400;700&display=swap" rel="stylesheet">
</head>

<body>

  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-item nav-link active" href="#">Home <span class="sr-only">(current)</span></a>
        <a class="nav-item nav-link" href="#">Login</a>
        <a class="nav-item nav-link" href="#">Sign Up</a>
      </div>
    </div>
  </nav>
 

  <div class="row">
    <div class="col-md-1"></div>
    <div class="col-12 col-md-5">
     <div class="container">
      <div class="row">
        <div class="container"> 
          <header class="row">
            <div class="col-1"></div>
            <h1 class="col-10 col-md-9 text-center">TP Finder</h1>
            <div class="col-1 col-md-3"></div>
          </header>
        </div> 
      
        <div class="container">
          <div class="row">
            <div class="col-1"></div>
            <h3 class="col-10 col-md-12 text-center">We've got your backside!</h3>
            <div class="col-1"></div>
          </div>
        </div>

        <div class="row">
          <h5 class="col-11 col-md-11">TP Finder helps locate stores in your area that currently have toilet paper in stock. We crowdsource our information to give you the most up-to-date metrics on tp stock.</h5>
          <div class="col-1 col-md-1"></div>
        </div>
      </div>
    </div>

      <div class="row">
        <div class="col-12 col-md-9 text-center">
          <img src="../public/img/cute-tp.png">
        </div> 
        <div class="col-md-3"></div>
      </div>

      <div class="row">
        <h3 class="col-12 col-md-9 text-center cute-txt">Click Me!</h3>
        <div class="col-md-3"></div>
      </div>
    </div>

    <div class="col-md-6"></div>
  </div>  

  <!-- ======================================================== Testimonials============================================================================== -->
  
  <!-- ================================================================================================================================================ -->



  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</body>
</html>