<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>TP Finder</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
  <link rel="stylesheet" href="../public/css/style.css">
</head>
<body>
  

  
    <div class="row">
      <div class="col m1"></div>
      <div class="col s12 m5 paddingl margin0">
        <div class="row">  
          <header class="row margin0">
            <h1 class="col s12 m9 center">TP Finder</h1>
            <div class="col m3"></div>
          </header>
       
          <div class="row margin0">
            <h3 class="col m11">We've got your backside!</h3>
            <div class="col m1"></div>
          </div>

          <div class="row margin0">
            <h5 class="col m11">TP Finder helps locate stores in your area that currently have toilet paper in stock. We crowdsource our information to give you the most up-to-date metrics on tp stock.</h5>
            <div class="col m1"></div>
          </div>
        </div>

        <div class="row">
          <div class="col s12 m9 center">
            <img src="../ignore/img/cute-tp.png">
          </div> 
          <div class="col m3"></div>
        </div>

        <div class="row">
          <h3 class="col s12 m9 center">Click Me!</h3>
          <div class="col m3"></div>
        </div>
      </div>

      <div class="col m6"></div>


      
    </div> 

  

 

</body>
</html>