<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>TP Finder</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <link rel="stylesheet" href="css/style.css">
  <link href="https://fonts.googleapis.com/css2?family=Rancho&family=Thasadith:wght@400;700&display=swap" rel="stylesheet">
  <link href="https://cdnjs.cloudflare.com/ajax/libs/ionicons/2.0.1/css/ionicons.min.css" rel="stylesheet"> 

</head>

<body>

  <nav class="navbar navbar-expand-lg navbar-light navbar-custom">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-item nav-link active" href="#">Home <span class="sr-only">(current)</span></a>
        <a class="nav-item nav-link" href="/login">Login</a>
        <a class="nav-item nav-link" href="/signup">Sign Up</a>
      </div>
    </div>
  </nav>
 

  <div class="row">
    <div class="col-md-1"></div>
    <div class="col-12 col-md-5">
     <div class="container">
      <div class="row">
        <div class="container"> 
          <header class="row">
            <div class="col-1"></div>
            <h1 class="col-10 col-md-9 text-center">TP Finder</h1>
            <div class="col-1 col-md-3"></div>
          </header>
        </div> 
      
        <div class="container">
          <div class="row">
            <div class="col-1"></div>
            <h3 class="col-10 col-md-12 text-center">We've got your backside!</h3>
            <div class="col-1"></div>
          </div>
        </div>

        <div class="row">
          <div class="col-1"></div>
          <h5 class="col-10 col-md-10 text-center">TP Finder helps locate stores in your area that currently have toilet paper in stock. We verify our sources so we can give you the most accurate and up-to-date metrics on tp stock.</h5>
          <div class="col-1 col-md-2"></div>
        </div>

        <div class="row">
          <div class="col-12 col-md-10 text-center mapbutton">
            <a href="/map">
              <img src="img/cute-tp.png" class="cute-tp">
            </a>
          </div> 
          <div class="col-md-2"></div>
        </div>

        <div class="row">
          <h3 class="col-12 col-md-10 text-center cute-txt">Click Me!</h3>
          <div class="col-md-2"></div>
        </div>

      </div>
    </div>

      
    </div>

    <div class="col-md-6"></div>
  </div>  

  <!-- ======================================================== Testimonials============================================================================== -->

    {{!-- <div class="text-center">
      <h2 class="text-center">~Testimonials~</h2>
    </div> --}}

    <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
      <ol class="carousel-indicators">
        <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="3"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="4"></li>
      </ol>
      <div class="carousel-inner">

        <div class="carousel-item active center mt-5">
          <img class="d-block rounded mx-auto rounded-circle" src="img/fat-guy.jpg" alt="First slide" style="width:200px;height:200px;">
          <blockquote class="">
            <p class="mx-auto text-center">Toilet paper is how I lure in the ladies.</p>
            <footer class="mx-auto text-center blockquote-footer">Sexy Fat Guy</footer>
          </blockquote>
        </div>
         <div class="carousel-item mt-5">
          <img class="d-block rounded mx-auto rounded-circle" src="img/gun-man.jpg" alt="Second slide" style="width:200px;height:200px;">
          <blockquote class="">
            <p class="mx-auto text-center">They can take my life, but they won't take my toilet paper!</p>
            <footer class="mx-auto text-center blockquote-footer">Crazy Gun Guy</footer>
          </blockquote>
        </div>
        <div class="carousel-item mt-5">
          <img class="d-block rounded mx-auto rounded-circle" src="img/wall-of-tp.jpg" alt="Third slide" style="width:200px;height:200px;">
          <blockquote class="">
            <p class="mx-auto text-center">My house is made <strong>completely</strong> out of toilet paper, so imagine my fear when I heard theres a toilet paper shortage! Thanks to TP Finder, I don't have to worry again until the next rainy day</p>
            <footer class="mx-auto text-center blockquote-footer">TP House Lady</footer>
          </blockquote>
        </div>
        <div class="carousel-item mt-5">
          <img class="d-block rounded mx-auto rounded-circle" src="img/final-boss-granny.jpg" alt="Fourth slide" style="width:200px;height:200px;">
          <blockquote class="">
            <p class="mx-auto text-center">My great-great-great-grandchildren wouldn't have toilet paper in the coming apocalypse. Thanks to TP Finder, I think we're set for a few generations</p>
            <footer class="mx-auto text-center blockquote-footer">Final Boss Granny</footer>
          </blockquote>
        </div>
          <div class="carousel-item mt-5">
          <img class="d-block rounded mx-auto rounded-circle" src="img/desperate-man-tp.jpg" alt="Fifth slide" style="width:200px;height:200px;">
          <blockquote class="">
            <p class="mx-auto text-center">All I eat is beans and coffee, so I was TERRIFIED I wouldn't have enough toilet paper during quarantine</p>
            <footer class="mx-auto text-center blockquote-footer">Anxious Guy</footer>
          </blockquote>
        </div>
       
      </div>
      <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
      </a>
      <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
      </a>
    </div>
  <!-- ================================================================================================================================================ -->



  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
  <script src="js/geo.js"></script>
</body>
</html>