        <button type="button" id="search-input" class="btn btn-primary" data-toggle="button" aria-pressed="false" style="display: none;">
        find TP
        </button>
        <div id="myMap" style="position:relative;width:100%;min-width:290px;height:600px;"></div>
        <span class="store-container"></span>
    <!-- ======================================================================================================================================== -->


    <script src="https://code.jquery.com/jquery-3.5.0.js" integrity="sha256-r/AaFHrszJtwpe+tHyNi/XCfMxYpbsRg2Uqn0x3s2zc=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <script type="text/javascript" src="/js/data.js" ></script>
    <script src="/js/map.js"></script>
    <script type="text/javascript" src="/js/location.js" ></script>
