form.signup,
form.login {
  margin-top: 50px;
}

#mapid { 
  width: 100%; 
  height: 530px
}


body {
  background-image: url(../img/Hoarding\ tp.jpg);
  background-size: cover;
  background-repeat:no-repeat;
  background-position: center;
  background-attachment: fixed;
  color: #725334;
  background-color: #8DACCB;
  /* complimentary colors : #CC8DCC (purp), #8DCC8D (green), #CCAC8D (beige) */

  font-family: 'Rancho', cursive;
  /* font-family: 'Thasadith', sans-serif; */
  font-weight: 700;
} 

nav {
 font-size: 2.25rem;
}

.nav-item {
  margin-left: 25px;
}

h1 {
  margin-top: 60px;
  font-size: 8rem;
  margin-bottom: 30px;
}

h3 {
  font-size: 5rem;
}

h5 {
 font-size: 2.25rem;
}

.cute-tp {
  width: 150px !important;
}

.modal {
  color: black;
}

/* HIDE RADIO */
[type=radio] { 
  position: absolute;
  opacity: 0;
  width: 0;
  height: 0;
}

/* IMAGE STYLES */
[type=radio] + img {
  cursor: pointer;
}

/* CHECKED STYLES */
[type=radio]:checked + img {
  outline: 4px solid #725334;
}

.navbar-custom,
.nav-item {
  background-color: #c5cb8d;
  color: #725334 !important;
}




/*================================================ Carousel====================================================================== */

.carousel {
  width:100%;
  height:350px;
  margin-top: 200px;
}

.carousel-inner {
  width:100%;
  height:350px; 
  background-color: #c5cb8d;
}



blockquote > p{
  width: 80%;
}

blockquote {
  quotes: "\201C""\201D""\2018""\2019";
}

blockquote p::before {
    content: open-quote;
}

blockquote p::after {
    content: close-quote;
}

/* =================================================================================================================================== */


@media screen and (max-width: 760px){
  body {
    background-image: none;
  } 

  /* blockquote > p{
    width: 300px;
  } */

  .nav-item{
    margin: auto;
  }
}